<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F57F17">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css">
      html, body {
        margin: 0;
      }
      .skeleton {
        font-family: arial, sans-serif;
      }
      .skeleton > .appbar {
        background: #F57F17;
        width: 100%;
        height: 64px;
        padding-left: 45px;
      }
      .skeleton > .appbar > h1 {
        margin: 0;
        color: white;
        font-size: 24px;
        font-weight: 400;
        line-height: 64px;
      }
      .skeleton > .guts {
        padding: 64px;
      }
      .skeleton > .guts > h3 {
        margin: 0;
        font-weight: 400;
      }
    </style>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div id="app">
      <div class="skeleton">
        <div class="appbar">
          <h1><%= htmlWebpackPlugin.options.title %></h1>
        </div>
      <div>
    </div>
  </body>
</html>
